@page
@model RazorReustorant.Pages.Orders.DisplayModel
@{
}

@if (Model.Order is null)
{
    <h4> Requested record was not found</h4>
}
else
{
    <table class="table">
        <tbody>
        <tr>
            <td><strong>Order Name</strong></td>
            <td>@Model.Order.OrderName</td>
        </tr>
        <tr>
            <td><strong>Order Data</strong></td>
            <td>@Model.Order.OrderDate</td>
        </tr>
        <tr>
            <td><strong>Order Total</strong></td>
            <td>@string.Format("{0:C}", Model.Order.Total)</td>
        </tr>
        <tr>
            <td><strong>Order Name</strong></td>
            <td>@Model.Order.OrderName</td>
        </tr>
        <tr>
            <td><strong>Order Name</strong></td>
            <td>@Model.Order.OrderName</td>
        </tr>
        </tbody>
    </table>
}